
*{
  font-family: Arial, Helvetica, sans-serif;
}

.contaner{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 75%;
  grid-template-rows: 1fr 1fr;
}

.search h2{
  font-size: 30px;
}

.TodayForcast{
  justify-self: flex-end;
}


.search{
  width: 87%;
  margin: 10px;
  border-bottom: 1.2px solid #ababac;
}

#city{
  padding:12px 0 ;
  width: 100%;
}

#search{
  width: 100%;
  padding: 10px 0;
  margin: 10px 0 12px 1px;
  border-radius: 5px;
  background-color: #8aa9e8;
}

.TodayForcast{
  border: 1px solid #ababac;

  width: 100%;
}

.FiveDayForecast{
  display: flex;
  justify-content: flex-start;
  grid-column: 2;
}

#todayPcity{
  text-transform: capitalize;
}

.box{
  background-color: #323d4e;
  color: white;
  width: 50%;
  margin: 10px 10px 0 0;
  text-align: center;
}